@CHARSET "ISO-8859-1";
h2.h2-link a{color:#000000;}
h2.h2-link a:HOVER{border-bottom: 1px solid #666666;color:#02ACEE;}
.fl_left p{text-align: justify;color:#000000}

ul.nav{list-style: none;margin:0px 0px;padding:0px;font-size: 14px;font-weight: bold;}
ul.nav li{line-height: 30px;border-right:1px solid #666666}
ul.nav li a{padding-left:15px;background-color: #F9F9F9;}
ul.nav li.active{
	background-color: #FFFFFF;
	border: 1px solid #666666;
	border-right:1px solid #FFFFFF;
	vertical-align: middle;}
ul.nav li.active a{color:#474B4D;background-color: #FFFFFF;}

/** user home images holder*/
#homecontent .imgholder img{
	width: 340px;
	height: 250px;
}


/*######################################
	dropdown menu styling
*/
#header li ul.dropdown-menu li a{padding: 5px 15px;color: #E3DFD2;
background: url('../images/tab_l.gif') no-repeat scroll left bottom #4A5155;border-bottom-color: #2D3134;;}
#header li ul.dropdown-menu li a:HOVER{color:#02ACEE;border-bottom-color: #02ACEE}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 170%;
 /*  margin-top: -6px;
  margin-left: -1px; */
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  text-align: left;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-menu {
position: absolute;
 /*  top: 100%; */
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 140px;
 /*  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none; */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

/* end of dropdown menu styling
######################################################
  start floater
*/
#floater{
	background-color:#22C0FD; 
	margin:0 auto 0;
	width:960px;
}

/* end floater
##############################################################
start about style
*/
#about-infrastructure, #about-social,
	#about-resettlement, #about-livelihood, #about-agriculture,
	#about-environment, #about-support, #about-summary, #about-addendum{width:660px;margin:5px auto;margin-bottom: 30px;}
#about{width:800px;margin:5px auto;margin-bottom: 15px;padding-bottom:15px;border-bottom:1px double #999999;}
#about p{padding:0px 20px;}
.about p{text-indent: 50px;text-align: justify;}
#container h2.about-link{border-bottom:none;}
#container h2.about-link:HOVER > a{border-bottom:1px solid black;}
#about-infrastructure img, #about-social img,
	#about-resettlement img, #about-livelihood img, #about-agriculture img,
	#about-environment img, #about-support img, #about-summary img, #about-addendum img{
	padding: 4px;
	border: 1px solid #999999;
	width:650px;
	height: 450px;}
#container p.readmore{
	display:block;
	padding:5px;
	line-height:normal;
	font-weight:bold;
	text-indent: 0px
}